<div class="header">
  <div style="width:100%;margin-bottom:10px;">Read & Write Differently</div>
  <button mat-button class="border-button" [routerLink]="['/register']">SIGN UP</button>
  <button mat-raised-button color="accent" [routerLink]="['/home']">START READING</button>
</div>
<div class="info-container">
  <article class="left">
    <h3 class="info-header text">Who Said Books Need to be Linear?</h3>
    <p class="text">
      Traditionally books has had a definitive order, where the path of the story is already predetermined by the author.
      But why does it have to be this way? The internet has provided us with the ability to collaborate on
      an unprecedented scale, never before seen in history.
      However this technology has not yet been taken advantage of when it comes to writing books.
      Mostly they are still written by a single author. WebNovel is here to change that!

    </p>
  </article>
  <picture class="right">
    <img style="max-height: 300px" src="./assets/book-graph.png">
  </picture>
</div>

<div class="info-container">
  <picture class="left">
    <img style="max-height: 300px" src="./assets/crowdwriting.jpg">
  </picture>
  <article class="right">
    <h3 class="info-header text">Crowdwritten Novels</h3>
    <p class="text">
      WebNovel lets any user create a new book and populate it with as many chapters as they want.
      However, by creating a book you also allow other users to create new paths in the story you hadn't even thought of!
      It does this by presenting each book as a graph. When you are finished reading a chapter,
      all the alternatives are presented to you.
      Also, if you don't like a chapter, you can create an alternative to provide others with a better reading experience.
      These features should ideally help create great novels written by 10s or even 100s of people!
    </p>
  </article>
</div>

<div class="info-container" style="flex-wrap: wrap; justify-content: center">
  <h3 class="info-header text" style="width: 100%; text-align: center;">Join the Crowdwriting Revolution </h3>
  <p class="text" style="text-align: center">
    <button mat-raised-button color="accent" [routerLink]="['/register']">SIGN UP</button>
  </p>
</div>
