<div class="container">
  <wn-section-header [title]="'My Account'"></wn-section-header>
  <div class="profile-container">
    <div class="profile-info">
      Profile
    </div>
    <form name="profile" class="profile-form">
      <mat-form-field>
      <span class="input">
        <input matInput [disabled]="!editFullName" name="fullName" placeholder="Full Name" [(ngModel)]="user.fullName">
        <button mat-button *ngIf="!editFullName" (click)="editFullName = true">EDIT</button>
        <button mat-raised-button color="accent" *ngIf="editFullName" (click)="updateFullName();editFullName = false">SAVE</button>
        <button mat-button *ngIf="editFullName" (click)="editFullName = false">CANCEL</button>
      </span>
      </mat-form-field>
      <br>
      <mat-form-field>
      <span class="input">
        <input matInput [disabled]="!editPenName" name="penName" placeholder="Pen Name" [(ngModel)]="user.penName">
        <button mat-button *ngIf="!editPenName" (click)="editPenName = true">EDIT</button>
        <button mat-raised-button color="accent" *ngIf="editPenName"
                (click)="updatePenName();editPenName = false">SAVE</button>
        <button mat-button *ngIf="editPenName" (click)="editPenName = false">CANCEL</button>
      </span>
      </mat-form-field>
      <br>
      <mat-form-field>
      <span class="input">
        <input matInput [disabled]="true" name="email" placeholder="Email Address" value="{{user.email}}">
      </span>
      </mat-form-field>
    </form>
  </div>

  <div class="password-container">
    <div class="password-info">
      Change Password
    </div>
    <form name="password" class="profile-form">
      <mat-form-field>
      <span class="input">
        <input type="password" matInput name="oldPass" placeholder="Current Password" [(ngModel)]="oldPass">
      </span>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="password" matInput name="newPass" placeholder="New Password" [(ngModel)]="newPass">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="password" matInput name="newPass" placeholder="Confrim New Password" [(ngModel)]="confirmPass">
        <mat-error *ngIf="!newPass || newPass !== confirmPass">The passwords does not match</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" [disabled]="!newPass || !oldPass || newPass !== confirmPass"
              (click)="updatePassword()">Update Password
      </button>
    </form>
  </div>

</div>
