.input{
  display: flex;
}

.profile-container{
  display: flex;
  border: 1px solid #c7c7c7;
  border-right: 0;
  border-left: 0;
  padding: 10px 0 10px 0;
}

.password-container{
  display: flex;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px 0 10px 0;
}

.profile-info{
  width: 25%;
  font-size: 18px;
}

.password-info{
  width: 25%;
  font-size: 18px;
}

.profile-form{
  width: 75%;
}

mat-form-field {
  width: 75%;
}

button{
  margin-right: 5px;
}
