<wn-section-header [title]="'Discuss this chapter'"></wn-section-header>
<wn-comment-editor *ngIf="isLoggedIn()"
                   [discussionId]="chapterId"
                   class="comment-editor"
                   (postedComment)="addNewComment($event)"></wn-comment-editor>
<wn-info-text *ngIf="!isLoggedIn()" [text]="'Log in to comment'"></wn-info-text>
<mat-card *ngIf="!isExpanded"
          style="cursor: pointer"
          (click)="toggleExpand()">Show comments
</mat-card>
<mat-spinner *ngIf="isExpanded && !comments.length && !commentsLoaded"></mat-spinner>
<wn-discussion *ngIf="isExpanded" [comments]="comments"></wn-discussion>
<wn-info-text *ngIf="commentsLoaded && isExpanded && !comments.length" [text]="'This chapter doesn\'t have any comments yet...'"></wn-info-text>
