/deep/.node {
  cursor: pointer;
}

/deep/.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

/deep/.newnode circle {
  fill: white;
  stroke: #69cc5c;
  stroke-width: 3px;
  cursor: pointer;
}

/deep/.node text {
  font: 12px sans-serif;
  fill: white;
}

/deep/.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/deep/.dragline {
  fill: none;
  stroke: #69cc5c;
  stroke-width: 2px;
  stroke-dasharray: 10, 2;
}

/deep/.link.walked {
  stroke: #ff9800 !important;
}
