<div class="container header">
  <wn-section-header [title]="'My Books'"></wn-section-header>
  <button style="margin-top: 5px;" mat-raised-button color="accent" [routerLink]="'/newbook'"><i class="fa fa-plus"></i> NEW BOOK</button>
</div>
<div class="container">
  <wn-my-books></wn-my-books>
</div>

<div class="container header">
  <wn-section-header [title]="'My Chapters'"></wn-section-header>
  <button style="margin-top: 5px;" mat-raised-button color="accent" [routerLink]="'/write'"><i class="fa fa-plus"></i> NEW DRAFT</button>
</div>
<div class="container">
  <wn-my-books></wn-my-books>
</div>


