<div class="header">
  <wn-section-header [title]="'My Books'"></wn-section-header>
  <button style="margin: 5px 0 0 10px;" mat-raised-button color="accent" [routerLink]="'/newbook'"><i class="fa fa-plus"></i> NEW BOOK</button>
</div>
<div class="container">
  <wn-my-books></wn-my-books>
</div>

<div class="header">
  <wn-section-header [title]="'My Chapters'"></wn-section-header>
  <button style="margin: 5px 0 0 10px;" mat-raised-button color="accent" [routerLink]="'/write'"><i class="fa fa-plus"></i> NEW DRAFT</button>
</div>
<div class="container bottom">
  <wn-my-chapters></wn-my-chapters>
</div>


