<div class="chapter-choice">
  <mat-card>
    <mat-card-title>Choose next chapter</mat-card-title>
    <mat-card-content>
      <button *ngFor="let childChapter of children"
              (click)="goToChapter(childChapter._id)"
              mat-button>
        {{childChapter.title}}
      </button>
      <span *ngIf="!children.length && loaded" style="color: darkgrey">There is no new chapters. Why don't you create one?</span>
      <mat-spinner *ngIf="!loaded"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!parentChapter.parent"
              (click)="goToChapter(parentChapter.parent)"><i
        class="fa fa-arrow-left"></i> Last Chapter
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/write', chapterId]"><i class="fa fa-plus"></i> Create
        chapter
      </button>
    </mat-card-actions>
  </mat-card>
</div>
