<div class="chapter-choice">
  <button mat-button
          (click)="goToLastChapter()"><i
    class="fa fa-arrow-left"></i> Last Chapter
  </button>

  <button mat-raised-button color="accent" [matMenuTriggerFor]="appMenu"><i class="fa fa-plus"></i> Create
    chapter
  </button>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item *ngIf="parentChapter" [routerLink]="['/write', parentChapter._id]"> Continue story</button>
  <button mat-menu-item (click)="createNewPath()" [disabled]="!isLoggedIn()"> Create new path</button>
</mat-menu>
