.reading-container {
  max-width: 750px;
  margin: 10px auto 7% auto;
}

.graph-container {
  width: 100%;
  border-top: 1px solid darkgray;
  height: 5%;
  position: fixed;
  bottom: 0;
  overflow-y: hidden;
  transition: height 0.8s;
  background-color: rgba(0, 149, 136, 0.9);
  cursor: move;
}

.graph-container:hover {
  height: 75%;
}

.page-container {
  width: 100%;
  height: 100%;
}

.text {
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  width: 100%;
  flex-basis: auto;
  margin: auto;
}

.content {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.60;
  font-weight: 400;
  font-style: normal;
}

button {
  margin: 0 10px 0 0;
}

.next {
  float: right;
  bottom: 0;
}

.number-of-likes {
  color: #009688;
  margin-right: 10px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.number-of-dislikes {
  color: #f44336;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.save-button {
  float: right;
}

.edit-button {
  float: right;
}
