<div class="page-container">

  <div class="reading-container">
    <div class="author-container">
      <wn-author-card [author]="author"></wn-author-card>
    </div>

    <div class="next-chapter-container">
      <wn-select-next-chapter *ngIf="chapter" [chapterId]="chapter._id"></wn-select-next-chapter>
    </div>
    <div *ngIf="chapter && author">

      <h2 class="header" *ngIf="chapter">{{chapter.title}}</h2>
      <button md-button *ngIf="!editable && loggedInUserIsAuthor()" class="edit-button" (click)="editChapter()">EDIT
        CHAPTER
      </button>
      <button md-button *ngIf="editable && loggedInUserIsAuthor()" class="save-button" (click)="discardChanges()">
        DISCARD CHANGED
      </button>
      <button md-raised-button *ngIf="editable && loggedInUserIsAuthor()" color="accent" class="save-button"
              (click)="saveChapter()">SAVE CHANGES
      </button>

      <div class="likeStats">
        <span class="number-of-likes">
          <i class="fa fa-thumbs-o-up"></i> {{numberOfLikes}}
        </span>
        <span class="number-of-dislikes">
          <i class="fa fa-thumbs-o-down"></i> {{numberOfDislikes}}
        </span>
        <span style="color: #2f4f4f">
          <i class="fa fa-eye"></i> {{chapter.views}}
        </span>
      </div>
      <div class="byline">By {{author.penName || author.fullName}}</div>

      <div class="content" id="chapter-content" *ngIf="chapter" [innerHtml]="chapter.body"></div>

      <div class="buttons">
        <button [disabled]="!isLoggedIn()" md-fab class="like" (click)="like()" alt="Like chapter">
          <i class="fa" [ngClass]="{'fa-thumbs-o-up': !liked, 'fa-thumbs-up': liked}"></i>
        </button>

        <button [disabled]="!isLoggedIn()" md-fab color="warn" class="dislike" (click)="dislike()"
                alt="Dislike chapter">
          <i class="fa" [ngClass]="{'fa-thumbs-o-down': !disliked, 'fa-thumbs-down': disliked}"></i>
        </button>
        <wn-info-text *ngIf="!isLoggedIn()" [text]="'Login to vote'"></wn-info-text>

      </div>
    </div>

    <div class="comment-section" *ngIf="chapter && author">
      <wn-chapter-discussion [chapterId]="chapterId"></wn-chapter-discussion>
    </div>
    <md-spinner style="margin:auto" *ngIf="!chapter || !author"></md-spinner>
  </div>
  <div class="graph-container">
    <div style="max-width: 20px; max-height: 10px;margin: 0 auto;"><i style="font-size: 24px;"
                                                                      class="fa fa-caret-up"></i></div>
    <wn-navigation-graph *ngIf="chapter" [chapterId]="chapter._id"
                         (addChapterToNode)="writeChapter($event)"></wn-navigation-graph>
  </div>
</div>

