<div class="page-container">

  <div class="reading-container">
    <div *ngIf="author" class="author-container clickable"
         [routerLink]="['/user', author._id]">
      <wn-author-card [author]="author">
      </wn-author-card>
    </div>

    <!--div class="next-chapter-container">
      <wn-select-next-chapter [parentChapter]="chapter"
                              (createPathClick)="openEditGraph()"></wn-select-next-chapter>
      <div style="margin-top: 10px">
        <button mat-raised-button
                color="accent"
                style="width: 100%" (click)="toggleGraph()">Explore book
        </button>
      </div>
    </div-->
    <div *ngIf="chapter && author">

      <h2 class="header" *ngIf="chapter">{{chapter.title}}</h2>
      <button mat-button *ngIf="!editable && loggedInUserIsAuthor()" class="edit-button" (click)="editChapter()">EDIT
        CHAPTER
      </button>
      <button mat-button *ngIf="editable && loggedInUserIsAuthor()" class="save-button" (click)="discardChanges()">
        DISCARD CHANGED
      </button>
      <button mat-raised-button *ngIf="editable && loggedInUserIsAuthor()" color="accent" class="save-button"
              (click)="saveChapter()">SAVE CHANGES
      </button>

      <div class="likeStats">
        <span class="number-of-likes">
          <i class="fa fa-thumbs-o-up"></i> {{numberOfLikes}}
        </span>
        <span class="number-of-dislikes">
          <i class="fa fa-thumbs-o-down"></i> {{numberOfDislikes}}
        </span>
        <span style="color: #2f4f4f">
          <i class="fa fa-eye"></i> {{chapter.views}}
        </span>
      </div>
      <div class="byline clickable"
           *ngIf="author"
           [routerLink]="['/user', author._id]">By {{author.penName || author.fullName}}
      </div>

      <div class="content" id="chapter-content" *ngIf="chapter" [innerHtml]="chapter.body"></div>

      <div class="children">
        <wn-children-carousel [parentChapter]="chapter"></wn-children-carousel>
      </div>

      <div class="chapter-navigation">
        <wn-select-next-chapter [parentChapter]="chapter"
                                (createPathClick)="openEditGraph()"></wn-select-next-chapter>
        <button mat-raised-button
                color="accent"
                style="width: 50%" (click)="toggleGraph()"><i class="fa fa-search"
        ></i> Explore book
        </button>
      </div>

      <div class="buttons">
        <button [disabled]="!isLoggedIn()" mat-fab class="like" (click)="like()" alt="Like chapter">
          <i class="fa" [ngClass]="{'fa-thumbs-o-up': !liked, 'fa-thumbs-up': liked}"></i>
        </button>

        <button [disabled]="!isLoggedIn()" mat-fab color="warn" class="dislike" (click)="dislike()"
                alt="Dislike chapter">
          <i class="fa" [ngClass]="{'fa-thumbs-o-down': !disliked, 'fa-thumbs-down': disliked}"></i>
        </button>
        <wn-info-text *ngIf="!isLoggedIn()" [text]="'Login to vote'"></wn-info-text>
      </div>
    </div>

    <div class="comment-section" *ngIf="chapter && author">
      <wn-chapter-discussion [chapterId]="chapterId"></wn-chapter-discussion>
    </div>
    <mat-spinner style="margin:auto" *ngIf="!chapter || !author"></mat-spinner>
  </div>

  <div *ngIf="showGraph && chapter" class="book-graph-container">
    <div style="background-color: #34736a; padding: 10px">
      <button mat-icon-button style="font-size: 26px" (click)="toggleGraph()"><i class="fa fa-close"></i></button>
      <span class="book-title" style="color: white">{{graphMode | capitalize}} MODE</span>

      <mat-button-toggle-group *ngIf="graphMode !== 'read'"
                               #group="matButtonToggleGroup"
                               [value]="'draw'"
                               (change)="graphMode = $event.value"
                               style="float: right; background-color: #fbff00">
        <mat-button-toggle value="draw">
          DRAW
        </mat-button-toggle>
        <mat-button-toggle value="insert" [disabled]="!newNodesFromGraph || !newNodesFromGraph.length">
          INSERT
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <wn-book-tree-graph [mode]="graphMode"
                        [bookId]="chapter.book"
                        [newNodeMap]="newNodeMap"
                        (newEdges)="setNewEdgesFromGraph($event)"
                        (newNodes)="setNewNodesFromGraph($event)"
                        (selectedNode)="setSelectedNodeFromGraph($event)"
                        (navigatedToNewNode)="showGraph=false"></wn-book-tree-graph>
  </div>

  <div class="select-chapter-container" *ngIf="graphMode === 'draw'">
    <div style="display: flex">
      <h1 style="margin: 10px auto 20px auto">How to use:</h1>
    </div>
    <div class="flex-center">
      <ul style="margin: auto" class="text tutorial">
        <li><b>To be able to insert chapters you first need to create drafts for each chapter you want to add.
          This can be done from the <span style="text-decoration: underline" class="clickable" routerLink="/mychapters">My Chapters</span> page</b></li>
        <li>Draw new paths by dragging from an existing node and releasing anywhere.</li>
        <li>Extend the path by dragging from a new node and releasing anywhere.</li>
        <li>Connect a new node to an old by dragging from a new node to an old node.</li>
        <li>When you're done, click insert in the upper right corner to insert you chapter drafts</li>
      </ul>
    </div>
  </div>
  <div class="select-chapter-container" *ngIf="showGraph" [class.hidden]="graphMode !== 'insert'">
    <wn-attach-node-to-chapter [selectedNode]="selectedNodeFromGraph"
                               [newEdges]="newEdgesFromGraph"
                               [newNodes]="newNodesFromGraph"
                               (currentNodeMap)="newNodeMap = $event"></wn-attach-node-to-chapter>
  </div>
</div>

