.flex-container {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
}

md-select {
  margin-bottom: 5px;
  width: 250px;
}

#chapter-title {
  width: 250px;
}

.full-width {
  width: 100%;
}

.book-properties {
}

wn-editor {
  width: 100%;
}
