<div class="flex-container">
  <form name="book-properties" class="book-properties full-width">
    <mat-form-field class="full-width">
      <input name="title" [(ngModel)]="newBook.title" matInput placeholder="Title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Genre" name="genre" [(ngModel)]="newBook.genre">
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Language" name="language" [(ngModel)]="newBook.language">
        <mat-option *ngFor="let language of languages" [value]="language.code">
          {{ language.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="description">
      <textarea matInput name="description" maxlength="256" placeholder="Description" rows="5"
                [(ngModel)]="newBook.description"></textarea>
      <mat-hint align="start"><strong>Write a short description to intrigue new readers</strong></mat-hint>
    </mat-form-field>
  </form>
</div>

<div class="flex-container" style="flex-wrap: wrap">
  <div style="border-top: 1px dotted darkgray; width:100%; margin: 20px 0px 10px 0px;"></div>
</div>

<div class="writing-container">
  <div class="flex-container">
    <form name="chapter-form">
      <mat-form-field class="full-width">
        <input id="chapter-title" name="title" matInput placeholder="Chapter title" [(ngModel)]="newChapter.title">
      </mat-form-field>
      <br>
    </form>
  </div>
  <div class="flex-container">
    <wn-editor [elementId]="'first-chapter-editor'" (onEditorKeyup)="newChapter.body = $event"></wn-editor>
  </div>
  <br>
  <div class="flex-container" style="justify-content: flex-end">
    <button mat-raised-button color="accent" (click)="saveBook()" [disabled]="saving">Publish
    </button>
  </div>
</div>
