<div class="flex-center" style="height: 100%" *ngIf="!selectedNode">
  <h2 class="book-title" style="margin:auto; text-align:center">Click on one of the newly added chapter nodes...</h2>
</div>

<div *ngIf="selectedNode" style="height:100%;">
  <div style="display:flex">
    <span class="book-title" style="margin: 10px auto auto auto">Select a chapter</span>
  </div>

  <div class="container">

    <mat-form-field class="search-bar">
      <input matInput type="text" placeholder="Search" [(ngModel)]="query"/>
    </mat-form-field>

    <div class="chapter-list">
      <mat-list>
        <mat-list-item *ngFor="let chapter of chapters | titleFilter: query"
                       (click)="selectChapter(chapter)"
                       class="item"
                       [class.selected]="selectedChapter === chapter">
          {{chapter.title}}
        </mat-list-item>
      </mat-list>
    </div>



    <div style="flex: 1 1 auto"></div>

    <div *ngIf="!chapters || chapters.length < newNodes.length" style="margin: auto">
      <div class="flex-center">
        <span class="text" style="margin: auto">You don't have enough available chapters for all the new nodes</span>
      </div>
      <div class="flex-center">
        <button mat-raised-button color="accent" style="margin: 20px auto" [routerLink]="['/write']">CREATE NEW
          CHAPTER(S)
        </button>
      </div>
    </div>

    <div class="button" style="display: flex">
      <button class="publish-button" mat-raised-button color="primary"
              (click)="save()"
              [disabled]="!allNodesHasChapter">PUBLISH
      </button>
    </div>
  </div>
</div>



