<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <md-toolbar color="primary">
    <span [routerLink]="['/home']" style="cursor: pointer">WebNovel</span>
    <span class="fill-remaining-space"></span>
    <span>
      <button *ngIf="!isLoggedIn()" color="accent" md-raised-button [routerLink]="['/login']">LOGIN</button>
      <button *ngIf="!isLoggedIn()" color="accent" md-raised-button [routerLink]="['/register']">REGISTER</button>
      <button *ngIf="isLoggedIn()" color="accent" md-raised-button (click)="logout()">LOGOUT</button>
    </span>
  </md-toolbar>
</div>


<router-outlet></router-outlet>
