<div class="sticky">
  <mat-toolbar color="primary">
    <span [routerLink]="['/welcome']" style="cursor: pointer; color: white; margin-right: 10px">WebNovel</span>
    <span style="color:white; font-size: 16px; margin-right: 10px">Alpha</span>
    <a mat-button [routerLink]="['/home']" style="color:white">DISCOVER</a>
    <button mat-button [routerLink]="'/create'" style="color: white" *ngIf="isLoggedIn()">CREATE</button>
    <span class="fill-remaining-space"></span>
    <span>
      <button style="margin-right: 10px" color="accent" mat-raised-button [routerLink]="['/login']" *ngIf="!isLoggedIn()">LOGIN</button>
      <button color="accent" mat-raised-button [routerLink]="['/register']" *ngIf="!isLoggedIn()">REGISTER</button>
      <wn-user-menu *ngIf="isLoggedIn()"></wn-user-menu>
      <wn-notification-popup-button *ngIf="isLoggedIn()"></wn-notification-popup-button>
    </span>
  </mat-toolbar>
</div>


<router-outlet></router-outlet>
