<div style="text-align:center">
  <md-toolbar color="primary">
    <span [routerLink]="['/home']" style="cursor: pointer; color: white; margin-right: 10px">WebNovel</span>
    <span style="color:white; font-size: 16px; margin-right: 10px">Alpha</span>
    <a md-button [routerLink]="['/home']" style="color:white">Discover</a>
    <span class="fill-remaining-space"></span>
    <span>
      <button md-raised-button color="accent" [routerLink]="'/mybooks'" *ngIf="isLoggedIn()">Create</button>
      <button color="accent" md-raised-button [routerLink]="['/login']" *ngIf="!isLoggedIn()">LOGIN</button>
      <button color="accent" md-raised-button [routerLink]="['/register']" *ngIf="!isLoggedIn()">REGISTER</button>
      <wn-user-menu *ngIf="isLoggedIn()"></wn-user-menu>
      <wn-notification-popup-button *ngIf="isLoggedIn()"></wn-notification-popup-button>
    </span>
  </md-toolbar>
</div>


<router-outlet></router-outlet>
