<div style="margin: 10px auto auto 20px">
  <div style="display: inline-flex">
    <wn-section-header [title]="'My Chapters'"></wn-section-header>
    <button mat-button
            color="accent"
            style="margin-left: 10px"
            [routerLink]="['/write']"><i class="fa fa-plus"></i> New draft</button>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Published">
    <div class="container">
      <wn-my-chapters></wn-my-chapters>
    </div>
  </mat-tab>
  <mat-tab label="Drafts">
    <div class="container">
      <wn-my-drafts></wn-my-drafts>
    </div>
  </mat-tab>
</mat-tab-group>
