<wn-info-text [text]="'There was an error when adding a new chapter. Please try again later.'"
              *ngIf="parentChapter && !parentChapter._id"></wn-info-text>
<div class="writing-container"
     *ngIf="parentChapter">
  <div class="flex-container">
    <form name="chapter">
      <mat-form-field class="full-width">
        <input name="title" matInput placeholder="Chapter title" [(ngModel)]="newChapter.title">
      </mat-form-field>
    </form>
    <br>
    <tag-input [(ngModel)]="tags" [placeholder]="'Enter tags'"></tag-input>
  </div>
  <div class="flex-container">
    <wn-editor [elementId]="'chapter-editor'" (onEditorKeyup)="newChapter.body = $event"></wn-editor>
  </div>
  <div class="flex-container button-group">
    <button mat-button (click)="saveDraft()" [disabled]="!loaded">Save as Draft</button>
    <button mat-raised-button color="accent" (click)="publishChapter()" [disabled]="!loaded">
      Publish
    </button>
  </div>
  <br>
</div>
