<div class="writing-container">
  <div class="flex-container">
    <form name="chapter" style="margin:auto">
      <md-form-field class="full-width">
        <input name="title" mdInput placeholder="Title" [(ngModel)]="newChapter.title">
      </md-form-field>
      <br>
    </form>
  </div>
  <div class="flex-container">
    <div [froalaEditor]="{height: 300}" [(froalaModel)]="newChapter.body" style="width:75%; margin: auto"></div>
  </div>
  <br>
  <button md-raised-button color="accent" (click)="saveChapter()" [disabled]="!loaded" style="margin-left: 80%">Save</button>
</div>
