<div class="writing-container">
  <div class="flex-container">
    <form name="chapter" style="margin:auto">
      <md-form-field class="full-width">
        <input name="title" mdInput placeholder="Title" [(ngModel)]="newChapter.title">
      </md-form-field>
      <br>
    </form>
  </div>
  <div class="flex-container">
    <textarea id="editor" placeholder="Write something..." [(ngModel)]="newChapter.body"></textarea>
  </div>
  <br>
  <button md-raised-button color="accent" (click)="saveChapter()" [disabled]="!loaded" style="margin-left: 80%">Save</button>
</div>
