<div class="writing-container" *ngIf="draft">
  <div class="flex-container">
    <wn-section-header [title]="'Edit draft'"></wn-section-header>
    <form name="chapter">
      <md-form-field class="full-width">
        <input name="title" mdInput placeholder="Chapter title" [(ngModel)]="draft.title">
      </md-form-field>
    </form>
    <br>
    <tag-input [(ngModel)]="tags" [placeholder]="'Enter tags'"></tag-input>
  </div>
  <div class="flex-container">
    <wn-editor [elementId]="'draft-editor'" [content]="draft.body" (onEditorKeyup)="draft.body = $event"></wn-editor>
  </div>
  <br>
  <div class="flex-container button-group">
    <button md-button (click)="saveDraft()">Save draft</button>
    <button md-raised-button color="accent" (click)="publishChapter()">Publish</button>
  </div>
</div>
