<mat-spinner *ngIf="!viewLoaded"></mat-spinner>
<div class="container"
     *ngIf="viewLoaded"
     fxLayout="row"
     fxLayoutWrap
     fxLayout.xs="column"
     fxLayoutAlign="start"
     fxLayoutGap="10px"
     fxLayoutGap.xs="5px">
  <div *ngFor="let chapterInfo of chapterInfos" class="chapter-card">
    <mat-card [routerLink]="editOnClick ? ['/edit', chapterInfo.chapter._id] : ['/read', chapterInfo.chapter._id]">
      <mat-card-title>{{chapterInfo.chapter.title}}</mat-card-title>
      <mat-card-subtitle>{{chapterInfo.chapter.published ? 'Published' : 'Draft'}}</mat-card-subtitle>
      <mat-card-content>
        Book: {{getBookTitle(chapterInfo.chapter.book)}}
        <br>
        <span class="green">
          <i *ngIf="getLikes" class="fa fa-thumbs-o-up"></i> {{chapterInfo.likes}}
        </span>
        <span class="red">
          <i *ngIf="getLikes" class="fa fa-thumbs-o-down"></i> {{chapterInfo.dislikes}}
        </span>
        <span *ngIf="getLikes" style="color: #2f4f4f">
          <i class="fa fa-eye"></i> {{chapterInfo.chapter.views}}
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
