.book-card{
  width: 20%;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.fillerImage{
  background-color: #ffd740;
}


