<div *ngIf="bookInfoLoaded" class="container"
     fxLayout="row"
     fxLayoutWrap
     fxLayout.xs="column"
     fxLayoutAlign="start"
     fxLayoutGap="10px"
     fxLayoutGap.xs="5px">
  <div *ngFor="let bookInfo of allBooks" class="book-card">
    <md-card (click)="openBook(bookInfo.book)">
      <md-card-title>{{bookInfo.book.title}}</md-card-title>
      <md-card-subtitle>By {{bookInfo.creator.penName || bookInfo.creator.fullName}}</md-card-subtitle>
      <md-card-subtitle>{{bookInfo.book.genre | capitalize}}</md-card-subtitle>
    </md-card>
  </div>
</div>

