/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
  background-color: #f7f6f3;
}
.full-width{
  width: 100%;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.green{
  color: #009688;
}

.red{
  color: #f44336;
}

