<div class="flex-center">
  <form name="login" class="register-form">
    <mat-form-field class="full-width" style="margin-bottom: 15px">
      <input name="penName" type="text" matInput placeholder="Pen Name" [(ngModel)]="penName">
      <mat-hint align="start"><strong>Pen name is the name that will be publicly shown to others. If you don't want to remain anonymous
      this can be your real name.</strong></mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input name="fullName" type="text" matInput placeholder="Full Name" [(ngModel)]="fullName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input name="email" type="email" matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <input name="password" type="password" matInput placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
    <br>
    <re-captcha (captchaResponse)="handleCaptcha($event)"
                site_key="6LfOSjMUAAAAACAfmQAmw_kijvWFYQOKACzpNkMJ"></re-captcha>
    <button [disabled]="!captchaResponse" color="accent" mat-raised-button (click)="register()"
            style="margin-top: 10px">
      REGISTER
    </button>
  </form>
</div>
