<div class="flex-center">
  <form name="login" class="register-form">
    <md-form-field class="full-width">
      <input name="penName" type="text" mdInput placeholder="Pen Name" [(ngModel)]="penName">
    </md-form-field>
    <md-form-field class="full-width">
      <input name="fullName" type="text" mdInput placeholder="Full Name" [(ngModel)]="fullName">
    </md-form-field>
    <md-form-field class="full-width">
      <input name="email" type="email" mdInput placeholder="Email" [(ngModel)]="email">
    </md-form-field>
    <br>
    <md-form-field class="full-width">
      <input name="password" type="password" mdInput placeholder="Password" [(ngModel)]="password">
    </md-form-field>
    <br>
    <!--div class="g-recaptcha" data-sitekey="6LfOSjMUAAAAACAfmQAmw_kijvWFYQOKACzpNkMJ" data-callback="saveCapthcaResponse"></div-->
    <button color="accent" md-raised-button (click)="register()">REGISTER</button>
  </form>
</div>
